[Desktop Entry]
Name=VGC
Comment=Next-Gen Graphic Design and 2D Animation 
Exec=vgcillustration
Icon=vgc
Terminal=false
Type=Application
Categories=Graphics;
